
/* font */





.sora-normal{
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .display-hidden{
    display: none;
  }
  .blue-text {
    color: #00b1f1;
    
  }
  .green-text {
    color: #179800;
  }
  .attached{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .attached-foot{
    display: flex;
    
  }
  .foot-title{
    font-size: 24px;
    font-weight: bold;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 141px;
    
  }
  
  
  .navtilte{
    display: flex;
    font-weight: bold;
    font-size: 32px;
  }
  nav ul{
    display: flex;
    gap: 32px;
    align-items: center;
  }
  footer ul{
  
  }
   ul li{
    list-style: none;
    
      gap: 10px;
      margin-bottom: 15px;
    
  }
  nav li {
    font-size: 20px;
  }
  /* buttons */
  .btn-primary{
    font-weight:semi-bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #179800;
    border:  #179800 solid;
    }
    .btn-white{
        background-color: rgb(255, 255, 255);
        font-weight:semi-bold;
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 8px;
        border-width: 1px;
        border: #179800 solid;
        
        }
  .btn-black{
    font-weight:semi-bold;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    border: none;
    }
 

    button{
      border: none;
      background-color: transparent;
    }
    button:hover{
      /* border: none; */
      background-color: rgb(98, 168, 84);
      /* border-radius: 50%; */
    }
  
  .banner-title{ 
      font-size: 56px;
      font-weight: bold;
      }
  .section-title{
    font-size: 46px;
    font-weight: bold;
    
  }
  .margin{
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .banner-intro{ 
      font-size: 20px;
      
      } 
  /* boxes */
  .container{
    margin-left: 140px  ; 
    margin-right: 140px;
    
  }
  .product-box{
     display: flex;
     gap: 30px; 
  }
  .center-align{
    text-align: center;
  }
  .box-container{
    display: flex;
    justify-content: ;
    gap: 50px;
    /* align-items: flex-start; */
  
  }
  .box1{
    width: 75%;
    display: flex;
  }
  .box{
    width: 75%;
    
    /* display: flex; */
  }
  footer{
    padding: 370px 140px 140px 140px;
    background-color: #179800;
    color: white;
    ;
  }
  .foot-container{
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    align-items: self-end;
    /* flex: 1;  */
  }
  .banner{
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(239, 235, 227) 100%);
    align-items: center;
    text-align: center;
    gap: 50px;
    img{
        max-width: 100%;
        max-height: 100%;
        
      }
  }
  
  .service-box{
    img{
        border-radius: 50%;
        padding: 5%;
        background-color: rgb(255, 255, 255);
    }
    width: 367px;
    height: auto;
    background-color: #EFEBE3;
    border-radius:16px ;
    
  }
  .smooth img{
    /* width: 30%; */
    /* height: auto; */
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
    
  }
  .smooth, .smooth-last{
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
 
  .midd{
    position: absolute;
    margin-top: -30px;
  }
 
  .square{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 150%;
    /* margin: auto; */
  }
  .pad{
    padding: 2.5%;
  }
  .single{
    border-radius: 10px;
    padding: 0px 2%;
    background-image: linear-gradient(to bottom right, rgb(84, 215, 63), rgb(255, 255, 255));
    
      
  }
  .grad{
    
    background: rgb(239, 235, 227) 100%;
    padding: 140px 0px;
    
    
  }
  
  
  
  
  @media screen and (max-width: 576px){
    
    img{
      max-width: 100%;
      max-height: 100%;
      
    }
    nav {
      margin: 20px 20px;
      border-bottom: black;
      border-width: 2px;
    }
    .navtilte, .smooth-last{
      
      display: none;
    }
    ul{
      margin-left: -40px;
    }
    
    nav ul{
      
      display: none;
    }
    nav li {
      font-size: 16px;
      padding: 5px;
      display: none;
      
    }
    .product-box{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
   
    .midd{
      position: absolute;
      margin-top: -20px;
      margin-left: -40px;
    }
    .btn-primary{
      font-size: 16px;
      padding: 12px 24px;
    }
    .container{
      margin: 6px;
      /* text-align: center; */
      margin: auto;
      padding: 10px;
    }
    
    .box-container{
      flex-direction: column;
      gap: 24px;
    }
    .service-box{
      width: 80%;
      text-align: center;
    
      
    }
    .display-hidden{
      display: flex;
      border-bottom: black;
      border-width: 2px;
    }
    .banner-title{ 
      font-size: 36px;
      font-weight: bold;
      }
  
    .section-title{
      font-size: 26px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .square{
        /* display: flex; */
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        
        /* margin: auto; */
      }
    .foot-container{
      flex-direction: column;
      align-items: self-start;
    }
    footer{
      padding-left: -130px;
      margin-left: -130px;
      /* flex-direction: column-reverse; */
    }
  }